<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dAppOSX</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dAppBase</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>macosx</string>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>AppKit</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>Foundation</string>
				<string>GLKit</string>
				<string>OpenAL</string>
				<string>OpenGL</string>
				<string>QuartzCore</string>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/English.lproj/MainMenu.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/MainMenu.xib</string>
		</dict>
		<key>Resources/English.lproj/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/InfoPlist.strings</string>
		</dict>
		<key>Resources/icon.icns</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/icon.icns</string>
		</dict>
		<key>Resources/fps_images.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>main.m</string>
		<string>Resources/Info.plist</string>
		<string>Resources/English.lproj/MainMenu.xib</string>
		<string>Resources/English.lproj/InfoPlist.strings</string>
		<string>Resources/icon.icns</string>
		<string>Resources/fps_images.png</string>
	</array>
</dict>
</plist>
