<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dStatLib</string>
	<key>Description</key>
	<string>Cocos3D as a static library for inclusion in other application projects. Your application project must also include Cocos2D libraries.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<false/>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dBase</string>
		<string>org.cocos3d.cocos3dLib</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>cocos2d/**</string>
					<string>../cocos2d-iphone/**</string>
					<string>../cocos2d/**</string>
					<string>../Chipmunk/**</string>
					<string>../ObjectAL/**</string>
					<string>../kazmath/**</string>
				</array>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
				<key>WARNING_CFLAGS</key>
				<string>-Wno-objc-property-no-attribute</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>LICENSE_cocos3d.txt</key>
		<dict>
			<key>Path</key>
			<string>LICENSE_cocos3d.txt</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>LICENSE_cocos3d.txt</string>
	</array>
</dict>
</plist>
