<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dAppCocos2d-v3iOS</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dAppIOS</string>
		<string>org.cocos3d.cocos3dGLSL</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Dependencies</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<array>
					<string>-ObjC</string>
					<string>-lz</string>
					<string>-lstdc++</string>
					<string>-lcocos3d</string>
					<string>-lcocos2d</string>
					<string>-lcocos2d-chipmunk</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../___PROJECTNAMEASIDENTIFIER___.approj/configuration.json</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Apportable</string>
			</array>
			<key>Path</key>
			<string>Apportable/configuration.json</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>../___PROJECTNAMEASIDENTIFIER___.approj/configuration.json</string>
	</array>
</dict>
</plist>
