<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dRezBundle</string>
	<key>Description</key>
	<string>Cocos3D static library resources for inclusion in other projects.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<false/>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dGLSL</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>bundle</string>
				<key>PRODUCT_NAME</key>
				<string>___PACKAGENAME___</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Info.plist</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>LICENSE_cocos3d.txt</key>
		<dict>
			<key>Path</key>
			<string>LICENSE_cocos3d.txt</string>
		</dict>
		<key>___PACKAGENAME___-Info.plist</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___-Info.plist</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>LICENSE_cocos3d.txt</string>
		<string>___PACKAGENAME___-Info.plist</string>
	</array>
</dict>
</plist>
