<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dBase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>CLANG_ENABLE_MODULES</key>
				<string>YES</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>NO</string>
				<key>CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE</key>
				<string>YES</string>
				<key>CLANG_WARN_OBJC_RECEIVER_WEAK</key>
				<string>YES</string>
				<key>CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK</key>
				<string>YES</string>
				<key>GCC_C_LANGUAGE_STANDARD</key>
				<string>gnu99</string>
				<key>CLANG_WARN_BOOL_CONVERSION</key>
				<string>YES</string>
				<key>CLANG_WARN_CONSTANT_CONVERSION</key>
				<string>YES</string>
				<key>CLANG_WARN_EMPTY_BODY</key>
				<string>YES</string>
				<key>CLANG_WARN_INT_CONVERSION</key>
				<string>YES</string>
				<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
				<string>YES</string>
				<key>GCC_WARN_UNINITIALIZED_AUTOS</key>
				<string>YES</string>
				<key>GCC_WARN_UNUSED_FUNCTION</key>
				<string>YES</string>
				<key>GCC_WARN_UNUSED_VARIABLE</key>
				<string>YES</string>
				<key>CLANG_WARN_OBJC_ROOT_CLASS</key>
				<string>YES</string>
				<key>CLANG_WARN__DUPLICATE_METHOD_MATCH</key>
				<string>YES</string>
				<key>GCC_WARN_64_TO_32_BIT_CONVERSION</key>
				<string>YES</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>OTHER_CFLAGS</key>
				<string>-U__STRICT_ANSI__</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
