<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dAppIOS</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dAppBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>CoreGraphics</string>
				<string>CoreText</string>
				<string>Foundation</string>
				<string>OpenAL</string>
				<string>OpenGLES</string>
				<string>QuartzCore</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Icons/Icon-29.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-29.png</string>
		</dict>
		<key>Resources/Icons/Icon-29@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-29@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-40.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-40.png</string>
		</dict>
		<key>Resources/Icons/Icon-40@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-40@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-50.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-50.png</string>
		</dict>
		<key>Resources/Icons/Icon-50@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-50@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-57.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-57.png</string>
		</dict>
		<key>Resources/Icons/Icon-57@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-57@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-60.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-60.png</string>
		</dict>
		<key>Resources/Icons/Icon-60@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-60@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-72.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-72.png</string>
		</dict>
		<key>Resources/Icons/Icon-72@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-72@2x.png</string>
		</dict>
		<key>Resources/Icons/Icon-76.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-76.png</string>
		</dict>
		<key>Resources/Icons/Icon-76@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Icons</string>
			</array>
			<key>Path</key>
			<string>Resources/Icons/Icon-76@2x.png</string>
		</dict>
		<key>Resources/LaunchImages/Default.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Launch Images</string>
			</array>
			<key>Path</key>
			<string>Resources/LaunchImages/Default.png</string>
		</dict>
		<key>Resources/LaunchImages/Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Launch Images</string>
			</array>
			<key>Path</key>
			<string>Resources/LaunchImages/Default-568h@2x.png</string>
		</dict>
		<key>Resources/LaunchImages/Default-Portrait~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Launch Images</string>
			</array>
			<key>Path</key>
			<string>Resources/LaunchImages/Default-Portrait~ipad.png</string>
		</dict>
		<key>Resources/LaunchImages/Default-Landscape~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Launch Images</string>
			</array>
			<key>Path</key>
			<string>Resources/LaunchImages/Default-Landscape~ipad.png</string>
		</dict>
		<key>Resources/fps_images.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images.png</string>
		</dict>
		<key>Resources/fps_images-hd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images-hd.png</string>
		</dict>
		<key>Resources/fps_images-ipadhd.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images-ipadhd.png</string>
		</dict>
		<key>Resources/fps_images_1.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images_1.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		<string>main.m</string>
		<string>Resources/Info.plist</string>
		<string>Resources/Icons/Icon-29.png</string>
		<string>Resources/Icons/Icon-29@2x.png</string>
		<string>Resources/Icons/Icon-40.png</string>
		<string>Resources/Icons/Icon-40@2x.png</string>
		<string>Resources/Icons/Icon-50.png</string>
		<string>Resources/Icons/Icon-50@2x.png</string>
		<string>Resources/Icons/Icon-57.png</string>
		<string>Resources/Icons/Icon-57@2x.png</string>
		<string>Resources/Icons/Icon-60.png</string>
		<string>Resources/Icons/Icon-60@2x.png</string>
		<string>Resources/Icons/Icon-72.png</string>
		<string>Resources/Icons/Icon-72@2x.png</string>
		<string>Resources/Icons/Icon-76.png</string>
		<string>Resources/Icons/Icon-76@2x.png</string>
		<string>Resources/LaunchImages/Default.png</string>
		<string>Resources/LaunchImages/Default-568h@2x.png</string>
		<string>Resources/LaunchImages/Default-Portrait~ipad.png</string>
		<string>Resources/LaunchImages/Default-Landscape~ipad.png</string>
		<string>Resources/fps_images.png</string>
		<string>Resources/fps_images-hd.png</string>
		<string>Resources/fps_images-ipadhd.png</string>
		<string>Resources/fps_images_1.png</string>
	</array>
</dict>
</plist>
