<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dAppBase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Resources/Info.plist</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>YES</string>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>cocos3d/**</string>
					<string>cocos2d/**</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Scene.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Scene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Scene.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Scene.m</string>
		</dict>
		<key>Resources/hello-world.pod</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/hello-world.pod</string>
		</dict>
		<key>../README.md</key>
		<dict>
			<key>Path</key>
			<string>README.md</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Scene.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Scene.m</string>
		<string>Resources/hello-world.pod</string>
		<string>../README.md</string>
	</array>
</dict>
</plist>
