<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d.bundlebase</string>
		<string>com.cocos2d.iosbase</string>
		<string>com.cocos2d.cocos2dlib</string>
		<string>com.cocos2d.cocosdenshionlib</string>
		<string>com.cocos2d.cocoslivelib</string>
		<string>com.cocos2d.fontlabellib</string>
		<string>com.benwill.cocos3dBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>README!.txt</key>
		<dict>
			<key>Path</key>
			<string>README!.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___Layer.h</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Layer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___Layer.m</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___World.h</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___World.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAMEASIDENTIFIER___World.m</key>
		<dict>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___World.m</string>
		</dict>
		<key>hello-world.pod</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>hello-world.pod</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>READ ME!! After creating the project, drag the &quot;cocos3d/cocos3d&quot; folder from the cocos3d distribution to your project in the Xcode Navigator, choosing both the &quot;Copy items into destination group&apos;s folder&quot; and &quot;Create groups for any added folders&quot; options.</string>
	<key>Identifier</key>
	<string>com.benwill.cocos3dTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>README!.txt</string>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		<string>___PROJECTNAMEASIDENTIFIER___Layer.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		<string>___PROJECTNAMEASIDENTIFIER___World.h</string>
		<string>___PROJECTNAMEASIDENTIFIER___World.m</string>
		<string>hello-world.pod</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
