<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.brenwill.cocos3dBase</string>
		<string>com.brenwill.cocos3dLib</string>
		<string>com.cocos2d.bundlebase</string>
		<string>com.cocos2d.iosbase</string>
		<string>com.cocos2d.cocos2dlib</string>
		<string>com.cocos2d.cocosdenshionlib</string>
		<string>com.cocos2d.cocoslivelib</string>
		<string>com.cocos2d.fontlabellib</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___World.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___World.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___World.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___World.m</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>README!</key>
		<dict>
			<key>Path</key>
			<string>README!.txt</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/hello-world.pod</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/hello-world.pod</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>A simple &quot;hello, world&quot; application. You can use this as the base for any cocos3d application.</string>
	<key>Identifier</key>
	<string>com.benwill.cocos3dTemplate</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>README!</string>
		<string>Prefix.pch</string>
		<string>main.m</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___Layer.m</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___World.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___World.m</string>
		<string>Resources/hello-world.pod</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>deviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
