<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos3dAppOGL2</string>
	<key>Description</key>
	<string>A simple cocos3d &quot;hello, world&quot; application using OpenGL on a Mac running OSX. You can use this as the starting point for any cocos3d application that uses OpenGL on a Mac running OSX. This template requires that cocos2d 2.x is installed. IMPORTANT: Once the template project opens, you must add the cocos2d target as a dependency of the application target. See the README! file for more.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Ancestors</key>
	<array>
		<string>org.cocos3d.cocos3dAppBase</string>
		<string>org.cocos3d.cocos3dBaseOSX</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>org.cocos3d.cocos2d-v2OSXStatLib</string>
			<key>Name</key>
			<string>cocos2d</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/Resources/Info.plist</string>
				<key>HEADER_SEARCH_PATHS</key>
				<string>cocos2d/libs/kazmath/include</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Resources/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/English.lproj/MainMenu.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/MainMenu.xib</string>
		</dict>
		<key>Resources/English.lproj/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>English.lproj</string>
			</array>
			<key>Path</key>
			<string>Resources/English.lproj/InfoPlist.strings</string>
		</dict>
		<key>Resources/icon.icns</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/icon.icns</string>
		</dict>
		<key>Resources/fps_images.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Resources/fps_images.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PROJECTNAMEASIDENTIFIER___AppDelegate.m</string>
		<string>main.m</string>
		<string>Resources/Info.plist</string>
		<string>Resources/English.lproj/MainMenu.xib</string>
		<string>Resources/English.lproj/InfoPlist.strings</string>
		<string>Resources/icon.icns</string>
		<string>Resources/fps_images.png</string>
	</array>
</dict>
</plist>
