<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos2d-v3StatLib</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v3.cocos2dlib</string>
		<string>com.cocos2d-v3.objectallib</string>
		<string>com.cocos2d-v3.cocos2d-uilib</string>
		<string>com.cocos2d-v3.kazmathlib</string>
		<string>com.cocos2d-v3.ccbreaderlib</string>
		<string>com.cocos2d-v3.chipmunklib</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>DEBUG</string>
					<string>COCOS2D_DEBUG=1</string>
				</array>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>NDEBUG</string>
					<string>NS_BLOCK_ASSERTIONS=1</string>
				</array>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD)</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvm.clang.1_0</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>___PACKAGENAME___/**</string>
			<key>ALWAYS_SEARCH_USER_PATHS</key>
			<string>NO</string>
			<key>SKIP_INSTALL</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/Prefix.pch</string>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___-chipmunk</string>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>NO</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
	</array>
</dict>
</plist>
