<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>org.cocos3d.cocos2d-v2OSXStatLib</string>
	<key>Description</key>
	<string>cocos2d 2.x as a static library for inclusion in cocos3d OSX projects.</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<false/>
	<key>Ancestors</key>
	<array>
		<string>com.cocos2d-v2.bundlebase</string>
		<string>com.cocos2d-v2.cocos2dlib</string>
		<string>com.cocos2d-v2.cocosdenshionlib</string>
		<string>com.cocos2d-v2.kazmathlib</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>CLANG_ENABLE_OBJC_ARC</key>
				<string>NO</string>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
				<key>OTHER_LDFLAGS</key>
				<array/>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Prefix.pch</string>
	</array>
</dict>
</plist>
